---
BasedOnStyle: Google 
ColumnLimit: 100
SortIncludes: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never 
BreakBeforeBraces: Custom
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left 

